@import "styles/variables";

.section-heading {
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  line-height: 1;
  margin: 16px 0;
  @include xlScreen {
    font-size: 48px;
  }
  span {
    color: $theme-color;
  }
}

.section__title {
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  @include xlScreen {
    font-size: 19px;
  }
}

.section__subtitle {
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  @include xlScreen {
    font-size: 19px;
  }
}

.section__text {
  font-size: 19px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 64px;
  @include xlScreen {
    font-size: 16px;
  }
}

.main-margin-top {
  margin-top: 130px;
}
