@import "styles/variables";

.thank-you {
  height: 60vh;
  border-bottom: 1px solid #000;
  & > .container {
    height: 100%;
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__link {
    display: flex;
    align-items: center;
    margin-top: 50px;
    &:hover {
      span {
        color: $theme-color;
        margin-right: 24px;
      }
    }
    img {
      width: 22px;
      transition: 0.3s ease-out;
      @include xlScreen {
        width: 16px;
      }
      @include smScreen {
        width: 12px;
      }
    }
    span {
      color: $theme-color;
      font-size: 28px;
      font-weight: bold;
      margin-right: 16px;
      transition: 0.3s ease-out;
    }
    @include xlScreen {
      font-size: 24px;
    }
    @include smScreen {
      font-size: 16px;
    }
  }
}
