@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");

@import "./modules/reset";
@import "./modules/elements";
@import "./modules/bootstrap/bootstrap-grid";
@import "./variables.scss";
@import "./modules/hamburger";

.container {
  max-width: 100%;
  width: 1366px;
  padding-right: 60px;
  padding-left: 60px;
  @include xlScreen {
    max-width: 100%;
    width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
  }
  @include smScreen {
    padding-right: 15px;
    padding-left: 15px;
  }
  &--narrow {
    max-width: 100%;
    width: 1330px;
    margin: 0 auto;
  }
}

.container-fluid {
  max-width: 100%;
  width: 1920px;
  padding-right: 60px;
  padding-left: 60px;
  @include xlScreen {
    max-width: 100%;
    width: 1140px;
    padding-right: 30px;
    padding-left: 30px;
  }
  @include smScreen {
    padding-right: 15px;
    padding-left: 15px;
  }
  &--narrow {
    max-width: 100%;
    width: 1330px;
    margin: 0 auto;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background-color: #fff;
  color: $text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  background: #212121;
  @include smScreen {
    min-width: 320px;
  }
}

a,
button {
  color: $text-color;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
    outline: none;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
