@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap");

// @import "./modules/bootstrap/bootstrap.scss";
@import "./mixins.scss";
@import "./variables.scss";
@import "./modules/reset";
@import "./modules/elements";

.site-container {
  width: 1660px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;

  @include xlScreen {
    max-width: 990px;
  }

  @include lgScreen {
    max-width: 100%;
  }

  @include smScreen {
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  background-color: #fff;
  color: $text-color;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.4;
  background: #212121;
}

a,
button {
  color: $text-color;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: none;
    outline: none;
  }
}

ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
