@import "styles/variables";

.experts-locations {
  padding: 100px 0 0;
  background: $grey-main;
  @include lgScreen {
    padding: 60px 0 0;
  }
  &__wrapper {
    padding: 60px 0;
    background: $bckg-color;
    .section {
      &-heading,
      &__subtitle {
        text-align: center;
      }
    }
  }
  &__list {
    margin-top: 50px;
    // -webkit-columns: 3;
    // column-count: 3;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    padding: 0 10px;
    margin: 0;
    align-items: center;
    margin-bottom: 15px;
    &-name {
      font-size: 32px;
      margin-left: 15px;
    }
  }
}
