@import "styles/variables.scss";

.scroll-button {
  position: fixed;
  right: 70px;
  bottom: 120px;
  z-index: 50;
  @include mdScreen {
    display: none;
  }
  &:hover {
    img {
      transform: translateY(-6px);
    }
  }

  img {
    width: 32px;
    height: 32px;
    transform: translateY(0);
    transition: 0.3s ease-out;
  }
}
