@import "styles/variables.scss";

.portfolio-slider {
  padding: 0 0 100px;
  background: $grey-main;
  &__wrapper {
    background: $bckg-color;
    padding: 60px 0 60px;
  }
  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }
  &__slide {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
      background: transparent;
      transition: 0.3s ease-out;
    }
    &:hover {
      &::before {
        background: rgba(0, 0, 0, 0.3);
      }
      .portfolio-slider__slide-cta {
        opacity: 1;
        visibility: visible;
      }
      .portfolio-slider__slide-title {
        background: transparent;
      }
    }
    &-img {
      width: 100%;
      height: 400px;
      padding-right: 20px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-title {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 7;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.2;
      text-align: center;
      padding: 32px 0;
      background: rgba(0, 0, 0, 0.3);
      transition: 0.3s ease-out;
    }

    &-cta {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      width: 100%;
      z-index: 6;
      font-size: 20px;
      transform: translateY(-50%);
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s ease-out;
    }
  }

  &__slider {
    & > .container {
      position: relative;
    }
  }

  &__nav {
    &-arrow {
      position: absolute;
      top: 25%;
      z-index: 10;
      cursor: pointer;
      &:hover {
        svg {
          path {
            stroke: #f9a82880;
          }
        }
      }
      svg {
        width: 24px;
        path {
          stroke: #f9a828;
          transition: 0.3s ease-out;
        }
      }
      &--prev {
        left: 0;
        @include xxlScreen {
          left: 10px;
        }
      }
      &--next {
        right: 0;
        transform: rotate(180deg);
        @include xxlScreen {
          right: 10px;
        }
      }
    }
  }

  .swiper {
    position: relative;
  }

  .swiper-wrapper {
    padding-bottom: 120px;
  }

  .swiper-pagination {
    width: auto !important;
    left: 50% !important;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio-slider__slider-bullets {
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 16px;
    background: $text-color;
    border-radius: 50px;
    transition: 0.3s ease-out;
    cursor: pointer;
    &.swiper-pagination-bullet-active {
      background: $theme-color;
    }
  }
}
