@import "styles/variables";

.home-services {
  padding: 100px 0;
  background: $grey-main;
  &__wrapper {
    background: $bckg-color;
    padding: 60px 0 120px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text {
    width: 970px;
    max-width: 100%;
    font-size: 19px;
    font-weight: 400;
    margin: 32px auto 64px;
    text-align: center;
    @include xlScreen {
      font-size: 16px;
    }
  }
  &__img {
    position: relative;
    height: 300px;
    width: 100%;
    @include xlScreen {
      height: 220px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__choice {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    z-index: 3;
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    @include xlScreen {
      margin-top: 70px;
    }
    .button {
      margin: 0 12px;
    }
  }
}
