@import "styles/variables";

.home-map {
  padding: 0 0 100px;
  background: $grey-main;
  &__wrapper {
    background: $bckg-color;
  }
  &__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
    @include lgScreen {
      align-items: center;
      padding: 60px 0;
      align-items: center;
      text-align: center;
    }
  }
  &__right {
    &--wrapper {
      height: 600px;
      @include lgScreen {
        height: 300px;
      }
    }
  }
  &__buttons {
    display: flex;
    .button {
      &:first-child {
        margin-right: 60px;
        @include xlScreen {
          margin-right: 40px;
        }
      }
    }
  }
}
