@import "styles/variables";

.home-map {
  padding: 0 0 100px;
  background: $grey-main;
  &__wrapper {
    background: $bckg-color;
  }
  &__left {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 100px;
  }
  &__title {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    @include xlScreen {
      font-size: 19px;
    }
  }
  &__text {
    font-size: 19px;
    font-weight: 600;
    margin-top: 44px;
    margin-bottom: 85px;
    @include xlScreen {
      font-size: 16px;
      font-weight: 500;
      margin-top: 30px;
      margin-bottom: 60px;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    @include xlScreen {
      height: 460px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__buttons {
    display: flex;
    .button {
      &:first-child {
        margin-right: 80px;
        @include xlScreen {
          margin-right: 60px;
        }
      }
    }
  }
}
